@font-face {
    font-family: "Liberation";
    src: url('lib.ttf');
}

body {
	background-color: #FFF;
}

h1   {color: blue;}
p    {color: red;}

h2 {    
    font-family: "Liberation";
    font-size: 50px;
    position: absolute;
    top: 10px;
    z-index: 2000;
    text-align: center;
}

h2.left {left: 250px;}

h2.right {}

/* TEMPORAL BACKGROUND */
.bg {
    position: absolute;
    width: 6479px;
    height: 1080px;
    background-image: url('fondo.png');
    background-repeat: no-repeat;
}


/* GENERIC VIDEO SETUP */
#vids .vid-widget div.static-image,
#vids .vid-widget video {
	position: absolute;
    top: 100px;
	height: 700px;
    z-index: 1000;
}

/* REPRODUCING VIDEO */
#vids .vid-widget.play div.static-image { display: none;}
#vids .vid-widget.play video {display: block}

/*NOT REPRODUCING VIDEO*/
#vids .vid-widget div.static-image { display: block;}
#vids .vid-widget video {display: none}



/* VIDEO CONFIG POSITION */
.vid-widget#choza div.static-image,
.vid-widget#choza video {
    left: 0;
    width: 618px;
}

.vid-widget#llama div.static-image,
.vid-widget#llama video {
    left: 523px;
    width: 706px;
}

.vid-widget#piedras div.static-image,
.vid-widget#piedras video {
    left: 1087px;
    width: 441px;
}

.vid-widget#quipus div.static-image,
.vid-widget#quipus video {
    left: 1373px;
    width: 530px;
}

.vid-widget#aretes div.static-image,
.vid-widget#aretes video {
    left: 1906px;
    width: 617px;
}

.vid-widget#chunho div.static-image,
.vid-widget#chunho video {
    left: 2314px;
    width: 530px;
}

.vid-widget#costales div.static-image,
.vid-widget#costales video {
    left: 2618px;
    width: 883px;
}

.vid-widget#pato div.static-image,
.vid-widget#pato video {
    left: 3195px;
    width: 618px;
}

.vid-widget#tintero div.static-image,
.vid-widget#tintero video  {
    left: 3813px;
    width: 441px;
}

.vid-widget#herradura div.static-image,
.vid-widget#herradura video  {
    left: 4154px;
    width: 618px;
}

.vid-widget#monedas div.static-image,
.vid-widget#monedas video  {
    left: 4408px;
    width: 618px;
}

.vid-widget#rieles div.static-image,
.vid-widget#rieles video  {
    left: 4322px;
    width: 883px;
}

.vid-widget#parabolica div.static-image,
.vid-widget#parabolica video  {
    left: 0px;
    width: 6900px;
}

.vid-widget#nubes div.static-image,
.vid-widget#nubes video  {
    left: 0px;
    top: -200px;
    width: 1720px;
    z-index: 10;
}


/* DUMMY STUFF SIMULATED */
.btn {
	height: 200px;
    width: 300px;
    background-color: blue;
    font-size: 100px;
    padding: 50px;
    color: white;
    cursor: pointer;
    display: inline;
    /*display: none;*/
}

.btn:hover{background-color: red;}

.calca {
    background-image: url("calca.png");
    width: 5720px;
    height: 700px;
    background-size: 5720px 700px;
    background-color: red;
    background-repeat:no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}


#fake_buttons{
	margin:803px 0 0 0;
}